<section class="adcourse-courses">
  <app-courses-list
      class="adcourse-courses__list"
      [courses]="courses$ | async"
      [end]="end$ | async"
      [loading]="loading$ | async"
      [hasMore]="hasMore$ | async"
      [page]="page$ | async"
      (updateIndicator)="onUpdateIndicator()"
      (resetIndicator)="onResetIndicator()"
      (startLoading)="onStartLoading()"
      (loadMore)="onLoadMore($event)">
  </app-courses-list>

  <div
      class="adcourse-courses__create">
    <div class="adcourse-courses__create-card" #formCard [ngStyle]="style$ | async">
      <mat-card>
        <mat-card-title><span class="adcourse-text--primary">Publish an ad to your course</span></mat-card-title>
        <mat-card-subtitle>Increase your audience by posting your upcomming course</mat-card-subtitle>
        <mat-card-content>
          <p class="mat-body-2">
              fill information bellow and be sure to provide a valid contact email
              which will be used when leaners want to reserve a seat at your course.
          </p>
          <!-- 
          <p class="mat-body-1 adcourse-text--warn">
              <i>Note: start date, min seats no and email have
              been changed to meet the requirements</i>
          </p>
          -->
        </mat-card-content>

        <div class="adcourse-courses__create-form">
            <app-create-course
                [instructorInfo]="instructorOptions"
                [courseInfo]="courseOptions">
            </app-create-course>
        </div>
      </mat-card>
    </div>
  </div>
</section>
