/********************************************************
 * simple layout styles of the home route
 * of courses module
 ********************************************************/
.adcourse-courses
  padding-top: 80px
  max-width: 1400px
  width: 90%
  margin-left: auto
  margin-right: auto
  display: flex
  flex-direction: row

  &__create
    min-width: 40%
    max-width: 480px
    margin: 2.5rem 0 2.5rem 2rem !important

    &-form
      margin-bottom: -1rem !important

    p
      max-width: 100%

    &-card
      position: fixed
      transform: translateZ(0)

    .mat-card
      box-shadow: 0 0 32px 8px rgba(#2962ff, .08)


  &__list
    flex: 1
