  <div [formGroup]="form" class="adcourse-form__input-wrap" [ngSwitch]="formInput.controlType">
    <app-sigma-email
        *ngSwitchCase="'sigmaEmail'"
        [form]="form"
        [formInput]="formInput">
    </app-sigma-email>

    <app-sigma-number
        *ngSwitchCase="'sigmaNumber'"
        [form]="form"
        [formInput]="formInput">
    </app-sigma-number>

    <app-sigma-url
        *ngSwitchCase="'sigmaUrl'"
        [form]="form"
        [formInput]="formInput">
    </app-sigma-url>

    <app-sigma-date
        *ngSwitchCase="'sigmaDate'"
        [form]="form"
        [formInput]="formInput">
    </app-sigma-date>

    <app-sigma-text
        *ngSwitchDefault
        [form]="form"
        [formInput]="formInput">
    </app-sigma-text>
  </div>
