<form
    class="adcourse-form"
    autocomplete="off"
    [formGroup]="form"
    [appSyncForm]="form$ | async"
    [activeStep]="currentStep"
    (syncValues)="onSyncValues($event)"
    (ngSubmit)="onSubmit($event)">
  <div class="adcourse-form__content">
    <div
        class="adcourse-form__input-wrap"
        [formGroup]="form"
        *ngFor="let formInput of (form$ | async);trackBy: trackByFn">
      <app-input
          [formInput]="formInput"
          [form]="form">
      </app-input>
    </div>
  </div>

  <div class="adcourse-form__actions">
    <button
        mat-button
        type="button"
        *ngIf="!form.pristine"
        [disabled]="loading$ | async"
        (click)="onReset($event)">
      cancel
    </button>

    <span class="adcourse-form__spacer"></span>
    <mat-spinner
        *ngIf="loading$ | async"
        color="accent"
        diameter="30">
    </mat-spinner>

    <button
        mat-button
        color="primary"
        type="button"
        *ngIf="steps > 1"
        (click)="onPrev($event)"
        [disabled]="currentStep < 2">
      previous
    </button>


    <button
        mat-button
        type="button"
        color="primary"
        *ngIf="steps > 1 && currentStep !== steps"
        (click)="onNext($event)"
        [disabled]="!(currentStep < steps) || !form.valid || (loading$ | async)">
      next
    </button>

    <button
        *ngIf="currentStep === steps"
        type="submit"
        mat-button
        color="primary"
        [disabled]="!form.valid || (loading$ | async)">
      save
    </button>
  </div>
</form>
