.adcourse-form
  display: flex
  flex-direction: column
  position: relative
  min-width: 100%
  width: 100%

  &__content,
  &__actions,
  &__spacer
    flex: 1

  &__actions
    display: flex
    flex-direction: row
    align-items: center
    margin-left: -1rem
    margin-right: -1rem
    padding-top: .5rem

  &__content
    background-color: lighten(#2962ff, 40%)
    border-top: 1px solid lighten(#2962ff, 38%)
    border-bottom: 1px solid lighten(#2962ff, 38%)
    margin: 0 -1.5rem
    padding: 2rem 2.5rem
