/***********************************************************
 * set the layout styles
 **********************************************************/
\:host,
.adcourse,
.adcourse-content
  flex: 1
  display: flex
  flex-direction: column
  min-height: 100%


.adcourse
  &-header
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 1
    transform: translateZ(0)

  &-header__nav--transparent
    background-color: transparent !important




  // .adcourse-spacer can be used globally to fill any space
  // in a flex box container through layout module
  &-spacer
    flex: 1 1 auto



  /*********************************************************
   * styling dummy logo
   ********************************************************/
  &-logo
    display: flex
    flex-direction: row
    align-items: center
    text-decoration: none
    color: white

  &-logo__shape
    width: 25px
    height: 30px
    display: inline-block
    background-color: white
    position: relative

  &-logo__shape-dot
    display: inline-block
    position: absolute
    top: 2px
    right: 2px
    width: 3px
    height: 3px

  &-logo__shape-letter
    position: absolute
    bottom: -5px
    left: -1px
    font-size: 2rem
    font-weight: 500

  &-logo__text
    display: flex
    flex-direction: column
    padding-left: 5px
    line-height: 1.1

  &-logo__text-word
    font-weight: 300
    font-size: 1rem
    letter-spacing: 1.25px
    text-transform: uppercase

  &-logo__text-slogan
    font-weight: 300
    font-size: .8rem

