<div class="adcourse" [ngClass]="{'adcourse-bg--grayscale-A200': (route$ | async) !== ''}">
  <header class="adcourse-header">
    <mat-toolbar
        color="primary"
        class="mat-elevation-z6 adcourse-header__nav"
        [ngClass]="{'mat-elevation-z6': (route$ | async) !== '', 'adcourse-header__nav--transparent': (route$ | async) === ''}">
      <mat-toolbar-row>
        <a class="adcourse-logo" [routerLink]="['/']">
          <span class="adcourse-logo__shape">
            <i class="adcourse-logo__shape-dot adcourse-bg--warn"></i>
            <b class="adcourse-logo__shape-letter adcourse-text--primary">A</b>
          </span>
          <span class="adcourse-logo__text">
            <span class="adcourse-logo__text-word">adcourse</span>
            <span class="adcourse-logo__text-slogan adcourse-text--primary-A100">publish courses</span>
          </span>
        </a>
        <span class="adcourse-spacer"></span>
        <app-nav></app-nav>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <main class="adcourse-content">
    <router-outlet></router-outlet>
  </main>
</div>
