.adcourse-list__item
  padding: 1rem


  /********************************************************
   * item statistics
   ********************************************************/
  &-stats
    margin: 8px 0

    .mat-icon
      vertical-align: middle
      margin-right: .5rem


  /********************************************************
   * item description
   ********************************************************/
  &-desc
    line-height: 1.4285


  /********************************************************
   * item image
   ********************************************************/
  &-img
    position: relative
    padding: 0 0 50% 0
    width: auto
    overflow: hidden
    margin: 0 -24px 16px -24px

    img
      position: absolute
      top: 50%
      left: 50%
      width: auto
      height: auto
      min-width: 100%
      min-height: 100%
      transform: translate3d(-50%, -50%, 0)
      margin: 0



