@import './assets/styles/theme'
/***********************************************************
 * general styles and typography settings
 **********************************************************/
body,
html
  padding: 0
  margin: 0
  width: 100%
  font-size: 100%


html
  height: 100%


body
  display: flex
  flex-direction: column
  position: relative
  min-height: 100%
  font-family: 'Roboto', 'arial', sans-serif
  font-size: 1rem