/***********************************************************
 * import custom generated Angular Material theme
 * and use custom classes globally to change colors
 * of backgrounds, text and borders
 **********************************************************/
// @import "~@angular/material/theming"


=global-theme
  $colors: (primary: $adcourse-primary, accent: $adcourse-accent, warn: $adcourse-warn, grayscale: $adcourse-grayscale)
  $list: primary accent warn grayscale
  $contrasts: 50 100 200 300 400 500 600 700 800 900
  $tints: A100 A200 A400 A700

  @each $item in $list
    .adcourse-bg
      &--#{$item}
        background-color: mat-color(map-get($colors, $item))
    
      @each $contrast in $contrasts
        &--#{$item}-#{$contrast}
          background-color: mat-color(map-get($colors, $item), '#{$contrast}-contrast')

      @each $tint in $tints
        &--#{$item}-#{$tint}
          background-color: mat-color(map-get($colors, $item), #{$tint})

    .adcourse-text
      &--#{$item}
        color: mat-color(map-get($colors, $item))

      @each $contrast in $contrasts
        &--#{$item}-#{$contrast}
          color: mat-color(map-get($colors, $item), '#{$contrast}-contrast')

      @each $tint in $tints
        &--#{$item}-#{$tint}
          color: mat-color(map-get($colors, $item), #{$tint})

    .adcourse-border
      &--#{$item}
        border-color: mat-color(map-get($colors, $item))

      @each $contrast in $contrasts
        &--#{$item}-#{$contrast}
          border-color: mat-color(map-get($colors, $item), '#{$contrast}-contrast')

      @each $tint in $tints
        &--#{$item}-#{$tint}
          border-color: mat-color(map-get($colors, $item), #{$tint})

