<section class="adcourse-home adcourse-bg--primary">
  <div class="adcourse-home__hero">

    <div class="adcourse-hero">
      <div class="adcourse-hero__shape adcourse-hero__shape--primary">
        <span class="adcourse-hero__shape-item adcourse-hero__shape-item--lines"></span>
        <span class="adcourse-hero__shape-item adcourse-hero__shape-item--big-circle"></span>
        <span class="adcourse-hero__shape-item adcourse-hero__shape-item--letter">A</span>
        <span class="adcourse-hero__shape-item adcourse-hero__shape-item--lines"></span>
      </div>

      <div class="adcourse-hero__shape adcourse-hero__shape--accent">
      </div>

      <div class="adcourse-hero__shape adcourse-hero__shape--white">
        <div class="adcourse-hero__shape-item"></div>
        <div class="adcourse-hero__shape-text">
          <h4>About <br> Adcourse</h4>
          <p>
            Adcourse is a dummy ads platform for courses now it's working as archive
            of courses instead to meet the requirements of form validation etc
          </p>
          <a [routerLink]="[ '/courses' ]" mat-flat-button color="primary">start using now</a>
        </div>
      </div>
      <h2 class="mat-title adcourse-home__hero-title">Welcome</h2>
      <h1 class="mat-display-1 adcourse-home__hero-brand">ADCOURSE</h1>
      <h2 class="adcourse-home__hero-slogan">Dummy ads platform</h2>
    </div>
  </div>
</section>
