/***********************************************************
 * settings
 **********************************************************/
$white: white
$primary: #2962ff
$accent: #ffab40
$warn: #f57c00
$primary-l3: lighten($primary, 3%)
$primary-r2: rgba($primary, .2)

$lines-g1: linear-gradient(135deg, $primary-l3 25%, transparent 25%) -25px 0
$lines-g2: linear-gradient(225deg, $primary-l3 25%, transparent 25%) -25px 0
$lines-g3: linear-gradient(315deg, $primary-l3 25%, transparent 25%)
$lines-g4: linear-gradient(45deg, $primary-l3 25%, transparent 25%)


/***********************************************************
 * general styles
 **********************************************************/
\:host,
.adcourse-home
  flex: 1
  display: flex
  flex-direction: column
  min-height: 100%
  position: relative
  color: white


.adcourse-home
  padding-top: 64px
  align-items: center
  justify-content: center

  &__hero
    width: 90%
    height: 100%
    min-height: 100%
    box-sizing: border-box
    overflow: hidden
    flex: 1
    position: relative

  &__hero-title,
  &__hero-brand,
  &__hero-slogan
    position: absolute
    top: 0
    left: 0
    white-space: nowrap

  &__hero-title
    transform: translate3d(-230px, -180px, 0)

  &__hero-brand
    transform: translate3d(90px, -200px, 0)
    font-size: 2rem

  &__hero-slogan
    transform: translate3d(90px, -170px, 0)
    font-weight: 300
    font-size: 1.1rem



/***********************************************************
 * hero and it's shapes
 **********************************************************/
.adcourse-hero
  margin-top: 60px
  position: absolute
  left: 50%
  top: 50%

  &__shape--primary,
  &__shape--accent,
  &__shape--white
    position: absolute
    left: 0
    top: -50px


  /*********************************************************
   * primary shape that contains patterns
   ********************************************************/
  &__shape--primary
    background-color: $primary-l3
    width: 200px
    height: 300px
    box-shadow: 0 0 16px 4px rgba($primary, .4)
    transform: translate3d(-240px, -50%, 0)

  &__shape--primary &__shape-item
    width: 100px
    height: 150px
    display: inline-block
    position: absolute
    box-sizing: border-box

    &--lines
      background: $lines-g1, $lines-g2, $lines-g3, $lines-g4
      background-size: 50px 50px
      background-color: $primary
      left: 0
      top: 0

    &--lines:last-of-type
      transform: scale(1, -1)
      left: 50%
      top: 50%

    &--big-circle
      top: 0
      right: 0

    &--big-circle::after
      content: ''
      display: block
      position: absolute
      height: 40px
      width: 40px
      background-color: rgba($accent, .3)
      border-radius: 50%
      top: 50%
      left: 50%
      transform: translate3d(-50%, -50%, 0)

    &--letter
      bottom: 0
      left: 0
      font-size: 170px
      padding-top: 0px
      overflow: hidden
      color: $primary
      text-indent: -10px


  /*********************************************************
   * accent shape box
   ********************************************************/
  &__shape--accent
    background-color: $accent
    height: 340px
    width: 160px
    transform: translate3d(-50%, -50%, 0)
    box-shadow: 0 0 16px 4px rgba($primary, .4)
    border-left: 4px solid white

  /*********************************************************
   * text shape
   ********************************************************/
  &__shape--white
    width: 360px
    height: 700px
    transform: translate3d(-30%, -10%, 0)
    box-shadow: 0 0 16px 4px rgba($primary, .1)
    padding-top: 60px

  &__shape--white &__shape-text
    background-color: rgba($white, .95)
    min-height: 100%
    height: 100%
    padding: 1px 2rem
    color: $primary

  &__shape--white &__shape-item
    width: 100%
    height: 60px
    position: absolute
    top: 0
    left: 0
    background-color: rgba(255, 255, 255, .8)
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, $primary-r2 10px, $primary-r2 20px)

  &__shape--white &__shape-text p
    font-size: .8125rem
    line-height: 1.6

  &__shape--white &__shape-text h4
    font-size: 2rem
    font-weight: 300
    margin-bottom: .5rem

  &__shape--white &__shape-text .button
    position: relative
